@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent: 14 92% 60%;
    --secondary: 100 92% 81%;
    --thirdary: #FFEF9F;
    --el-color-primary: #F7673B;
    --el-color-primary-light-3: #F8764F;
    --el-color-primary-light-5: #F88562;
    --el-color-primary-light-7: #F99576;
    --el-color-primary-light-8: #FBB39D;
    --el-color-primary-light-9: #FDD1C4;

    --el-color-primary-dark-2: #F54914;

    --foreground: #3E4E50;
    --background: #F7FFF7;
    /* E2ECE9 */
    /* FFD6E0 */
    --muted: 162 4% 93%;
    --main-white: #F7FFF7;
    --muted-foreground: #3E4E50;

    --flower: #90F1EF;
    --flower-2: #FFD6E0;
    --flower-3: #7BF1A8;
    --flower-4: #C1FBA4;
    --flower-5: #FFEF9F;

    --font-belota: "Bellota", Helvetica, sans-serif;
    --font-wenkai: "Wenkai", Helvetica, sans-serif;
  }
}

@layer base {
  @font-face {
    font-family: 'Bellota';
    src: url('/public/fonts/Bellota-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Bellota';
    src: url('/public/fonts/Bellota-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Wenkai';
    src: url('/public/fonts/LXGWWenKaiMonoTC-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Wenkai';
    src: url('/public/fonts/LXGWWenKaiMonoTC-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  body {
    @apply bg-background text-foreground;
  }
}
