@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent: 14 92% 60%;
    --secondary: 100 92% 81%;
    --thirdary: #FFEF9F;
    --el-color-primary: #F7673B;
    --el-color-primary-light-3: #F8764F;
    --el-color-primary-light-5: #F88562;
    --el-color-primary-light-7: #F99576;
    --el-color-primary-light-8: #FBB39D;
    --el-color-primary-light-9: #FDD1C4;
  
    --el-color-primary-dark-2: #F54914;
  
    --foreground: #3E4E50;
    --background: #F7FFF7;
    /* E2ECE9 */
    /* FFD6E0 */
    --muted: #E2ECE9;
    --main-white: #F7FFF7;
    --muted-foreground: #3E4E50;

    --flower: #90F1EF;
    --flower-2: #FFD6E0;
    --flower-3: #7BF1A8;
    --flower-4: #C1FBA4;
    --flower-5: #FFEF9F;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
